<h2>Sign in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>

  <div class="form-actions">
    <%= f.submit "Sign in", class: "btn" %>
    <%= link_to (image_tag "google_32.png", :size => "32x32", :alt => "Google"), user_omniauth_authorize_path(:google_oauth2) %>
    <%= link_to "Not a member?", new_user_registration_path %>
  </div>


<% end %>
